div#test
  div.test10234
    a(href="#") Hallo
form(action="action.php" method="post")
  p Ihr Name:
    input(type="text" name="name")
  p Ihr Alter:
    input(type="text" name="alter")
  p
    input(type="submit")