html(lang="en")
  head
    title PUG parsed by PHP
  body
    h1 Templating has never been easier!
    div.highlight
      p(style="color: white;") Just drop StupidSimplePUGParser.php in your project,
      div#number1
        p include it and get parsin!
        br
        a(href="https://google.com/") YES, IT'S THAT EASY!
        br
        | Pipe Test